@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
   --pt-margin: 50px;
}

body {
   font-family: "Roboto", sans-serif;
   margin: 0px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   min-height: 100vh;
}

.hero-text {
   background-color: #1F2937;
}

/*********** Header Styling ***********/

.header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 50px;
}

.logo {
   margin-left: 100px;
   color: #F9FAF8;
   font-size: 24px;
   margin: 0px;
   margin-left: 100px;
}

.hero-links {
   margin-right: 100px;
}

.hero-links a {
   margin: 10px;
   text-decoration: none;
   font-size: 18px;
   color: #E5E7EB;
}

#right-link {
   margin-right: 0px;
}

/*********** Page Top formatting ***********/

.page-top {
   display: flex;
   justify-content: space-between;
   gap: 0px 50px;
   align-items: center;
}

.main {
   font-size: 48px;
   color: #F9FAF8;
   font-weight: 900;
   margin-top: 10px;
   margin-bottom: 0px;
}

.secondary {
   font-size: 18px;
   color: #E5E7EB;
   margin-top: 10px;
   margin-bottom: 10px;
}

.pt-left button {
   margin-top: 0px;
   margin-bottom: 10px;
   border-radius: 8px;
   height: 30px;
   width: 100px;
   background-color: #3882F6;
   border: #3882F6;
   color: #F9FAF8;
}

.page-top img {
   margin-top: var(--pt-margin);
   margin-bottom: var(--pt-margin);
   margin-right: 100px;
   width: auto;
   height: 200px;
}

.pt-left {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin-left: 100px;
   margin-top: var(--pt-margin);
   margin-bottom: var(--pt-margin);
   
}

/*********** Info formatting ***********/

#info-header {
   font-size: 36px;
   color: #1F2937;
   font-weight: 900;
   text-align: center;
}

.info ul {
   display: flex;
   justify-content: center;
   list-style-type: none;
   padding: 0px;
   margin: 0px;
   margin-bottom: 50px;
   gap: 30px;
   padding-left: 200px;
   padding-right: 200px;
}

.info ul li {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   justify-content: start;
   text-align: center;
}

.info ul li p {
   margin: 0px;
   color: #1F2937;
   vertical-align: top;
}

.info ul li img {
   border-radius: 10px;
   border: solid 3px #3882f6;
   height: 200px;
   width: 200px;
   object-fit: cover;
   overflow: hidden;
}

/*********** Quote Section formatting ***********/

.quote {
   background-color: #E5E7EB;
   color: #1F2937;
}

.quote p {
   padding-left: 200px;
   padding-right: 200px;
}

.quote.text {
   font-size: 36px;
   font-style: italic;
   margin-bottom: 0px;
}

.quote.signature {
   font-weight: bold;
   text-align: right;
   margin-top: 0px;
}

/*********** Bottom Card formatting ***********/
/* .modal * {
   border: solid blue;
} */

.modal {
   display: flex;
   justify-content: center;
   align-items: center;
}

.modal .box {
   display: flex;
   border-radius: 8px;
   margin-left: 100px;
   margin-right: 100px;
   margin-top: 75px;
   margin-bottom: 75px;
   background-color: #3882F6;
   color: #F9FAF8;
   height: 100px;
   width: 800px;
   justify-content: center;
   align-items: center;
   gap: 100px;
}

.modal .box .text {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.modal .box .text p {
   margin: 0px;
}

#cta {
   font-weight: bold;
}

#signup-text {
   font-size: 12px;
   color: #E5E7EB;
}

.modal .box button {
   background-color:  #3882F6;
   border: solid 1px #F9FAF8;
   color: #F9FAF8;
   border-radius: 5px;
   height: 30px;
   width: 100px;
}

/*********** Footer formatting ***********/

.footer {
   display: flex;
   background-color: #1F2937;
   color: #E5E7EB;
   align-items: center;
   justify-content: center;
   height: 50px;
   margin: 0px;
}


